<div class="container">
  <div *ngFor="let row of grid; index as r">
    <div *ngFor="let col of row; index as c" class="block" (click)="clickBlock(r, c)">
      <div *ngIf="col.revealed">
        <div *ngIf="col.hasBomb" class="bomb"></div>
        <div *ngIf="!col.hasBomb" class="clicked">
          <ng-container *ngIf="col.value">
            {{col.value}}
          </ng-container> &nbsp;
        </div>
      </div>
    </div><br />
  </div>
  <br />
  <span>Message : {{message}}</span>
</div>
<br />
<button (click)="initialize()">Reset</button>